<div class="fb-link-actions open">
	<a href="#"> Unlike </a> . 
	<a href="#"> Comment </a> . 
	<a href="#"> Share </a> .


	<div> 
		{{#ifCond this.item.picture '&&' this.item.caption}}
			
			{{#if this.item.likes.summary.total_count}}
			<a href="#" class="icon-fb-like"> <i></i> {{this.item.likes.summary.total_count}}</a>
			{{/if}}
			
			{{#if this.comments.likes.summary.total_count}}
			<a href="#" class="icon-fb-comment"><i></i> {{this.item.comments.summary.total_count}}</a>
			{{/if}}
			
			{{#if this.item.shares.count}}
			<a href="#" class="icon-fb-shares"><i></i> {{this.item.shares.count}}</a>
			{{/if}}
		{{/ifCond}}
		<span>{{fromNow this.created_time}}</span>
		via
		<span>{{this.item.application.name}}</span>
	</div>
</div>