<div class="fb-status-post">
	<a href="{{this.item.link}}" target="_blank">
		<img src="{{fbPostImage this.item.picture}}" />
		<span class="fb-status-post-title">
			{{this.item.name}}
		</span>
		<span class="fb-status-post-caption">
			{{this.item.caption}}
		</span>
		<span class="fb-status-post-description">
			{{this.item.description}}
		</span>
	</a>
</div>